.conUs{
    padding: 20px;
    text-align: left;
}
.support{
    width: auto;
}
.time{
    font-weight: 100;
}
.message{
    height: 150px;
}
@media (max-width: 770px) {
    .support{
        padding-bottom: 30px;
    }
}